/* body {
  background-color: #f6f9fc;
} */

.error_field > input {
  box-shadow: 0 0 0 1px #fb5252;
}

.error_field .vs__dropdown-toggle {
  box-shadow: 0 0 0 1px #fb5252;
}

.error_field > textarea {
  box-shadow: 0 0 0 1px #fb5252;
}
.error__text {
  display: block;
  margin-top: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #fb5252;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.swiper-button-disabled {
  opacity: 0.5 !important;
}
.swiper-button-prev:after {
  content: '' !important;
}

.swiper-button-next:after {
  content: '' !important;
}

.vs--searchable .vs__dropdown-toggle {
  border: 1px solid #e5e7eb;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.vs__selected {
  margin: 0 !important;
  padding: 0 !important;
}

.vs__search {
  margin: 0 !important;
  padding: 0 !important;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ece9e9;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #71717a;
  border-radius: 2px;
}

/* Handle on hover */
